<#@ template language="C#" #>
<#@ import namespace="DTS.Framework.DomainDefinition" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
/*
create table <#= Entity.Name #>
(
<#
    this.ForEachProperty((property, first) =>
    {
		#><#= first ? "" : @"
, "#><#= property.Name #> <#= property.DataType.SqlServerName #><#	     
    });
#>

)
*/